extends ../template/layout
block content
    table.table.table-hover
        thead
            tr
                th(scope='col') Especialidad
                th(scope='col') Doctor
        tbody
            a(href=`./calendarios/${2}`)
                tr
                    td Mark
                    td Otto
                tr
                    td Jacob
                    td Thornton